/* ----------------AJAX--------------------------- */


img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.img-container {
    width: 20%;
    display: flex;
    align-items: stretch;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    box-shadow: 1px 1px 20px #00000050;
}

.user-special-text-container {
    width: 70%;
}

div.user-budget,
div.user-date {
    display: flex;
    align-items: center;
    background: #904E95;
    color: #FFFFFF;
    padding: 0.6rem;
    border-radius: 8px;
}

div.user-area,
div.user-duration {
    display: flex;
    align-items: center;
    background: #904E9530;
    color: #000000;
    padding: 0.6rem;
    border-radius: 8px;
}

.date-small-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div.user-duration {
    width: fit-content;
    justify-content: flex-end;
}

div.user-duration {
    display: flex;
    align-items: center;
    background: #904E9530;
    color: #000000;
    padding: 0.6rem;
    border-radius: 8px;
}

.rent-small-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-info {
    flex-grow: 1;
    padding: 1rem 0.5rem;
    width: 60%;
}

.user-info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    min-width: 0;
}

.info-small-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    margin-bottom: 0.5rem !important;
}

.user-profile .user-info-wrapper div {
    font-size: 0.8rem;
}

.user-special-text-container div {
    margin-right: 1rem;
    font-weight: 400;
}

.empty-div {
    min-width: 20%;
    flex-grow: 2;
}

.badge-secondary,
.badge-info {
    color: #17a2b8;
    border: 1px solid #17a2b8;
    background-color: transparent;
    font-size: 0.6rem;
    margin-top: 1rem;
    padding: 0.2rem;
    margin-right: 0.8rem;
}

.badge-secondary {
    color: #FD604D;
    border: 1px solid #FD604D;
    border-color: #FD604D;
    font-size: 0.6rem;
    margin-top: 1rem;
    padding: 0.2rem;
    margin-right: 0.8rem;
}

.badge-light {
    font-size: 0.6rem;
    FONT-WEIGHT: 200;
    height: max-content;
}

.user-label-container {
    display: flex;
}

.user-budget,
.user-date {
    margin-bottom: 0.5rem;
}

.before-login {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    padding: 2rem;
    border-radius: 10px;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 10px #232323;
    background: linear-gradient(to right, #e96443, #904e95);
    letter-spacing: 4px;
}

.before-login.disabled {
    display: none;
}


.columns {
    filter: blur(3px);
    pointer-events: none;
}

.columns.login-success {
    filter: initial;
    pointer-events: auto;
}

/* --------------AJAX ends-------------------------- */

/* responsive 3 column layout */

/* https://codepen.io/torbencolding/pen/WboQPr */

/* https://codepen.io/surify/pen/bGNpQor */

.content {
    font-size: 1rem;
    width: 90%;
    margin: 5rem auto 0 auto;
    border-radius: 4px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.main {
    flex: 3;
    order: 2;
    background: #FFFFFF;
    border: 18px solid #F1F1F1;
    border-radius: 0 4px 0 4px;
}

.sidebar-first {
    flex: 1;
    background: #FFFFFF;
    order: 1;
    border: 18px solid #F1F1F1;
    border-radius: 4px 0 0 4px;
}

form#filter-form {
    margin-top: 2rem;
    font-weight: 600;
}

.sidebar-second {
    flex: 1;
    width: 20%;
    order: 3;
    background: #ddd;
    display: none;
}

.mobile-sidebar-first {
    display: none;
}

.close-button {
    display: none;
}

@media only screen and (max-width: 868px) {
    .sidebar-second {
        display: none;
    }

    .sidebar-first {
        flex: 1;
    }

    .main {
        flex: 2;
    }
}

@media only screen and (max-width: 868px) {
    .sidebar-second {
        display: none;
    }

    .user-profile div,
    .user-profile p,
    .user-profile .btn-primary,
    .user-profile span {
        font-size: 0.6rem;
    }

    .user-special-text-container div {
        margin-right: 2.5rem;
    }

    .user-profile h3 {
        font-size: 1rem;
    }

    .mobile-sidebar-first {
        display: block;
        position: fixed;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        background: #fe8c49;
        box-shadow: 0 0 20px #FFFFFF50;
        z-index: 100;
    }

    .mobile-sidebar-first.close {
        display: none;
    }

    .close-button.active {
        display: block;
        position: fixed;
        top: 4.8rem;
        left: 1.5rem;
        transition: all 0.2s 0.2s;
        z-index: 101;
    }

    .sidebar-first {
        position: fixed;
        left: -100%;
    }

    .sidebar-first.active {
        left: 0;
        top: 3.5rem;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        transition: all 0.2s 0.1s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 100;
    }

    .main {
        flex: 2;
    }
}

.user-profile {
    transition: all 0.2s ease;
}

.user-profile:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 20px #FE8C49;
    cursor: pointer;
}

.user-profile-box,
.user-profile-box:link,
.user-profile-box:visited,
.user-profile-box:hover,
.user-profile-box:active {
    text-decoration: none;
    color: #232323;
}

/* ----------responsive column layout------------- */

/* ----------responsive filter menu------------------- */

.filter-menu {
    margin: 1rem;
    padding: 1rem 0;
}

.reset-filter {
    border: 1px solid rgb(230, 230, 230);
    display: inline-block;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

label,
select {
    display: block;
    margin: 1.5rem 0 0.5rem 0;
}

.select2-container {
    width: 50% !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0;
}

.nstSlider {
    width: 90%;
    background-color: #F1F1F1;
    height: 1rem;
}

.nstSlider .bar {
    background-color: #232323;
    height: 1rem;
    margin: 0;
    top: 0;
}

.nstSlider .leftGrip,
.nstSlider .rightGrip {
    background-color: #FD604D;
    width: 1rem;
    height: 1rem;
}

.left-input,
.right-input {
    width: 20%;
    background-color: transparent;
    border: transparent;
}

.left-input {
    width: 18%;
}

label.inline-label {
    display: inline-block;
    margin: 0;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

input#submit-button {
    display: block;
    margin: 2rem 0;
}

label.spacing {
    margin: 0.5rem;
}

/* ----------responsive filter menu end--------------- */

/* ----------login form start------------- */

div#login-success-message {
    display: none;
}

div#login-success-message.active {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}

/* ----------login form end---------------- */