body {
    background: #ffffff !important;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x: hidden;
}

section.site-content {
  width: 92%;
  margin: 0 auto 1rem auto;
  background: white;
  border-radius: 9px;
  box-shadow: 0 0 10px #2c2b2b34;
}

#search-bar {
  background-color: transparent !important;
  margin-bottom: 1rem;
  width: 92%;
  margin: 5rem auto 1rem auto;

}

#search-bar form {
  justify-content: flex-start;
  width: 100%;
}

#search-bar form .form-control {
  width: 50%;
  box-shadow: 0 0 10px #b3b2b2;
}

#search-bar .container-fluid {
  padding-left: 0;
}

#search-bar button.btn.btn-outline-success {
  background-color: black;
  color: white;
  border-color: black;
  box-shadow: 0 0 5px #F1F1F1;
}

aside#filter-container {
  background-color: #F1F1F1;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem;
  border-radius: 4px 4px 0 0;
}

#filter-form {
  margin-bottom: 1rem;
  z-index: 0;
  padding: 0 1rem;
}

.c-btn-group {
  margin-bottom: 1rem;
}

.btn-check:not(:checked)+label.btn.btn-outline-primary, label.btn.btn-outline-primary:hover {
  box-shadow: 0 0 0 0rem rgb(254 140 73 / 50%);
  transition: all 0.5s 0s;
}

.btn-check:checked+label.btn.btn-outline-primary, label.btn.btn-outline-primary:hover {
  box-shadow: 0 0 0 0.2rem rgba(254, 140, 73, 0.5);
  background-color: #FD604D;
  color: #FFFFFF;
}

.btn-outline-primary, .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary:focus {
  color: #FD604D;
  background-color: transparent;
  border-color: #FD604D;
}

textarea.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 140, 73, 0.5);
}

.c-form-label {
  margin-right: 0.5rem;
}

.input-group {
  width: 25%;
  align-items: center;
  flex-wrap: nowrap;
}

textarea.form-control {
  height: 30%;
  resize: none;
}

span.c-rent-range {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.c-district-btn {
  margin-bottom: 0.5rem;
}

.c-district-btn:last-child {
  margin-right: 0;
}

.btn-group#c-rent-filter {
  width: 80%;
}

div#c-rent-filter {
  margin-top: -1.5rem;
}

#rent-label {
  display: flex;
  align-items: center;
}

.submit-button-container {
  margin-top: 1rem;
}

#reset-filter {
  background-color: #FFFFFF;
}

#reset-filter:hover {
  background-color: #904E95;
  color: #FFFFFF;
  transition: all 0.2s 0s;
}

#reset-filter:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 140, 73, 0.5);
}

#submit-button {
  background-color: #232323;
  border-color: #232323;
  color: #FFFFFF;
}

#submit-button:hover {
  box-shadow: 0 0 0 0.2rem rgba(254, 140, 73, 0.8);
  background-color: #904E95;
  transition: all 0.2s 0s;
  color: #FFFFFF;
}

#submit-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 140, 73, 0.8);
}

.sort-button-container {
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem 0 1.5rem;
}

button#sort-meeting-at {
  background-color: #232323;
  border-color: #232323;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

button#sort-usable-area {
  margin-left: 1rem;
  background-color: #232323;
  border-color: #232323;
  color: #FFFFFF;
}

button#sort-rent {
  margin-left: 1rem;
  background-color: #232323;
  border-color: #232323;
  color: #FFFFFF;
}

button#sort-meeting-at:hover, button#sort-usable-area:hover, button#sort-rent:hover {
  box-shadow: 0 0 0 0.2rem rgba(254, 140, 73, 0.8);
  background-color: #904E95;
  color: #FFFFFF;
  transition: all 0.2s 0s;
}

button#sort-meeting-at:focus, button#sort-usable-area:focus, button#sort-rent:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 140, 73, 0.8);
}

.c-small-btn-container {
  display: inline-flex;
  flex-direction: column;
}

span#arrow-up {
  font-size: 18px;
  margin-bottom: -4px;
  color: #f1f1f16e;
}

span#arrow-up.active,
span#arrow-down.active {
  color: #FFFFFF;
}

span#arrow-down {
  font-size: 18px;
  margin-top: -4px;
  color: #f1f1f16e;
}

#c-rooms-filter, #c-usuable-area-filter, #c-hardware-filter {
  display: block;
}

#c-site-profile-container {
  margin-bottom: 1rem;
}

.c-site-profile-link, .c-site-profile-link:link, .c-site-profile-link:visited, .c-site-profile-link:hover, .c-site-profile-link:active {
  text-decoration: none;
  color: #232323;
}

